<h2>Lista de Clientes</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cpf</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nan Do San</td>
            <td>28</td>
            <td>828299202029202</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Seo Dal Mi</td>
            <td>28</td>
            <td>729282929922222</td>
        </tr>
    </tbody>
</table>